<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Live Stream</title>
    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }

        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>    
</head>
<body>
    <div id="container">
        <video autoplay="True" id="videoElement">
            <source src="{{url_for('feed') }}" type="video/mp4"/>
        </video>
    </div>
</body>
</html>