<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Live Stream</title>
    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }

        #videoElement {
            width: 500px;
            height: 375px;
            background-color: #666;
        }
    </style>
    <script>
        var constraints = { audio: true, video: { width: 1280, height: 720 } };
        var video = document.querySelector("#videoElement");

        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (mediaStream)
            {
                var video = document.querySelector('video');
                video.srcObject = mediaStream;
                video.onloadedmetadata = function (e)
                {
                    video.play();
                };
            }).catch(function (err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.
    </script>
</head>
<body>
    <div id="container">
        <video autoplay="True" id="videoElement"></video>
    </div>
</body>
</html>