<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Recording</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var constraints = { audio: true, video: { width: 1280, height: 720 } };
        var socket = io.connect('https://' + document.domain + ':' + location.port);        

        function record(constraints, socket)
        {
            navigator.mediaDevices.getUserMedia(constraints)
                .then(function (mediaStream)
                {
                    console.log('def');
                    console.log(typeof mediaStream);
                    console.log(mediaStream);
                    socket.emit('my event', { data: mediaStream });
                }).catch(function (err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.
        }

        var intervalID = window.setInterval(record, 500, constraints, socket);
    </script>
</head>
<body>
    <div>
        <p>Recording</p>
    </div>
</body>
</html>