<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Recording</title>
    <script type="text/javascript" src="/static/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script>
        var constraints = { audio: true, video: { width: 1280, height: 720 } };
        var socket = io.connect('https://' + document.domain + ':' + location.port, { resource: '/static' });
        //var socket = io.connect();

        socket.on('connect', function ()
        {
            navigator.mediaDevices.getUserMedia(constraints)
                .then(function (mediaStream)
                {
                    socket.emit('my event', { data: mediaStream });
                }).catch(function (err) { console.log(err.name + ": " + err.message); }); // always check for errors at the end.
        });
    </script>
</head>
<body>
    <div>
        <p>Recording</p>
    </div>
</body>
</html>