<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
</head>
<body>
    <div class="container"></div>
        <h1>We will take your request! Keep jamming! :)</h1>


        <a href="/dashboard" style = "margin:auto; font-size: 100%; color: black; text-align:center; display:block;" class="button large hpbottom">Back to the dashboard!</a>
    </div>
    
</body>
</html>